<%= link_to "Back", sandbox_elections_path %>

<h1>Key ceremony for <%= election.title %></h1>

<h2>Trustees</h2>

<p>You can find the trustee keys in the project's <code>lib/assets</code> folder.</p>

<table class="trustee-table" data-election-unique-id="<%= election.unique_id %>">
  <thead>
    <tr>
      <th>Unique ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% election.trustees.each do |trustee| %>
      <tr data-unique-id="<%= trustee.unique_id %>" data-public-key="<%= trustee.public_key.to_json %>">
        <td><%= trustee.unique_id %></td>
        <td><%= trustee.name %></td>
        <td>
          <label class="private-key">
            <span>Upload private key</span>
            <input class="private-key-input" style="display: none" type="file" />
          </label>
          <%= link_to "Start", "#", class: "start-button" %>
          <%= link_to "Backup", "#", class: "backup-button" %>
          <label class="restore-button">
            <span>Restore</span>
            <input class="restore-button-input" style="display: none" type="file" />
          </label>
          <span class="done-message">Done</span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_include_tag "sandbox/key_ceremony" %>
