<%= stylesheet_link_tag "sandbox/index" %>

<section class="index">
  <div class="index__intro">
    <div class="version">Bulletin Board Version <%= Decidim::BulletinBoard::VERSION %></div>

    <h1>Elections</h1>
    <%= link_to "Back", root_path, class: "button" %>
    <%= link_to "Setup new election", new_sandbox_election_path, class: "button" %>
  </div>

  <div class="index__content">
    <table>
      <thead>
        <tr>
          <th>Unique ID</th>
          <th>Title</th>
          <th>Status</th>
          <th>Voting Scheme</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% elections.each do |election| %>
          <tr class="election" data-id="<%= election.id %>">
            <td><%= election.unique_id %></td>
            <td><%= election.title.values.first %></td>
            <td><%= election.status %></td>
            <td><%= election.voting_scheme_name %></td>
            <td>
              <% if election.created? %>
                <%= link_to "Start key ceremony", start_key_ceremony_sandbox_election_path(election), class: "button" %>
              <% elsif election.key_ceremony? %>
                <%= link_to "Perform key ceremony", key_ceremony_sandbox_election_path(election), class: "button" %>
              <% elsif election.key_ceremony_ended? %>
                <%= link_to "Start vote", start_vote_sandbox_election_path(election), class: "button" %>
              <% elsif election.vote? %>
                <%= link_to "Vote", vote_sandbox_election_path(election), class: "button" %>
                <% if has_polling_stations?(election) %>
                  <%= link_to "In Person Vote", in_person_vote_sandbox_election_path(election), class: "button" %>
                <% end %>
                <%= link_to "End vote", end_vote_sandbox_election_path(election), class: "button" %>
                <a href="#" class="stress-tests button <%= "pressed" if bulk_votes_file_exists?(election) %>">Stress tests</a>
                <div class="stress-tests-section">
                  <input class="generate-votes-input" type="number" placeholder="How many votes?" value="<%= default_bulk_votes_number %>"/>
                  <a href="#" class="generate-votes button">Generate votes</a>
                  <%= link_to "Load test stats", load_test_stats_sandbox_election_path(election), download: Sandbox::GenerateLoadTestStats::STATS_OUTPUT_FILE_NAME, class: "button" %>
                  <% if bulk_votes_url_set?(election) %>
                    <%= link_to "Download votes", bulk_votes_file_url(election), download: bulk_votes_file_name(election), class: "button", target: "_blank" %>
                    <p><%= "Bulk votes file last updated at: #{bulk_votes_file_update_time(election)}"%></p>
                  <% end %>
                </div>
              <% elsif election.vote_ended? %>
                <%= link_to "Start tally", start_tally_sandbox_election_path(election), class: "button" %>
              <% elsif election.tally? %>
                <%= link_to "Perform tally", tally_sandbox_election_path(election), class: "button" %>
              <% else %>
                <%= link_to "View results", results_sandbox_election_path(election), class: "button" %>
                <%= link_to "Publish results", publish_results_sandbox_election_path(election), class: "button" if election.tally_ended? %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<%= javascript_include_tag "sandbox/index" %>
